.img_formula {
  // background: url("/assets/images/formula.png");
  // background: url("file:///C:/Проєкти/Крос-платформне програмування/LAB_1+2/LAB_1/src/assets/images/formula.png");
  //background: url("Image/formula.png");
  height: 100%;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
}
