<!-- <ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Виконав студент групи АнД-31 Лилка Дмитро</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-my-header name="Лабораторна робота №2"></app-my-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Розклад</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let group of getGroupedLessonsKeys()">
    <ion-item-divider>
      <ion-label>{{ group }}</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let lesson of groupedLessons[group]">
      <ion-label>
        <h2>{{ lesson.subject }}</h2>
        <p>Аудиторія: {{ lesson.classroom }}</p>
        <p>День тижня: {{ lesson.dayOfWeek }}</p>
        <p>Дата: {{ lesson.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <canvas #lineCanvas></canvas>
</ion-content>
